.size {
  font-size: 250px;
}

/*botón up*/
.ir-arriba{
  display: none;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: fixed;
  right: 70px;
  bottom:70px;
  box-shadow: rgb(41, 41, 41);
  z-index: 999999999;
  transition: ease 1s;
}
/*evento hover*/
.ir-arriba:hover{
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  transition: ease .5s;
}
/*estilos para el tag i*/
.ir-arriba i{
  color: black;
  font-size: 2em;
  padding: 20px;
  transition: ease 2s;
}   
.ir-arriba i:hover{
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transition: ease 1s;
}   


